* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 80vh;
    background-color: yellow;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
button{
    color: white;
    background-color: orange;
}
#alimento{
    height: 2rem;
    width: 100%;
    font-size: 2rem;
}
#Categoryselect{
    width: 60%;
    height: 2rem;
    font-size: 1.2rem;
}
#container2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
    color: orange;
}
#Frutas{
    border-bottom: solid 1px orange;
}
#Laticínios{
    border-bottom: solid 1px orange;
}
#Congelados{
    border-bottom: solid 1px orange;
}
#Doces{
    border-bottom: solid 1px orange;
}
#Legumes{
    border-bottom: solid 1px orange;
}
#Outros{
    border-bottom: solid 1px orange;
}
#Header{
    display: flex;
    gap: 6rem;
    font-size: 1.3rem;
    text-wrap: nowrap;
}
#Deletebutton{
    background-color: red;
    color: white;
    border: 1px solid black;
}
#OperationButtons{
    width: 50%;
    gap: 15px;
    display: flex;
}
button{
    padding: 0.5rem;
    height: 2rem;
}